.profile-list {
    border: 'none';
    box-shadow: '0px 0px 2px 2px rgba(0,0,0,0.73';
    background: #fff;
    border-radius: 8px;
    width: 40%;
    height: max-content;
}

.profile-list-search-name, .profile-list-search-tag {
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile-list-search-name input, .profile-list-search-tag input {
    width: 95%;
    height: 40px;
    font-size: 1em;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(51, 51, 51, .5);
    padding-left: 10px;
}

.profile-list-search-name input:hover, .profile-list-search-tag input:hover {
    border-bottom: 1px solid rgba(51, 51, 51, 1);
}

@media (max-width: 768px) {
    .profile-list {
        width: 90%;
    }
}